<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Job Details</title>
</head>
<body>
<div sec:authorize="@securityUtil.isCandidate()">
    <div th:replace="~{fragments/candidate-header :: header}"></div>
</div>
<div sec:authorize="@securityUtil.isRecruiter()">
    <div th:replace="~{fragments/recruiter-header :: header}"></div>
</div>

<h2 th:text="${job.title}"></h2>
<p><strong>Company:</strong> <span th:text="${job.getCompany().getName()}"></span></p>
<p><strong>Location:</strong> <span th:text="${job.location}"></span></p>
<p><strong>Description:</strong> <span th:text="${job.description}"></span></p>
<p><strong>Requirements:</strong> <span th:text="${job.requirements}"></span></p>

<h3>Required Skills</h3>
<ul>
    <li th:each="skill : ${job.requiredSkills}" th:text="${skill.getName()}"></li>
</ul>

<div th:if="${jobCandidateMatch != null}">
    <p>Intellectual Job Match</p>
    <p th:text="${#numbers.formatDecimal(jobCandidateMatch.matchScore * 100, 1, 0)} + '%'"></p>
    <p th:text="${jobCandidateMatch.intellectualAnalysisJustification}"></p>
</div>

<div th:if="${@securityUtil.isRecruiterAuthorizedToModifyJob(job)}">

    <form id="searchForm" th:action="@{/candidates/search-intellectual}" method="get">
        <input type="hidden" name="jobId" th:value="${job.id}" />
        <button type="submit">Search</button>
    </form>
</div>

<div sec:authorize="@securityUtil.isCandidate()">
    <form th:if="${!@candidateUtil.hasAlreadyApplied(job)}" th:action="@{/applications/apply/__${id}__}" method="post">
        <input type="hidden" name="jobId" th:value="${job.id}"/>
        <button type="submit">Apply for this Job</button>
    </form>
    <p th:if="${@candidateUtil.hasAlreadyApplied(job)}">You have already applied for this job.</p>
</div>

<div sec:authorize="@securityUtil.isCandidate()">
    <form th:action="@{'/jobs/bookmark/' + ${job.id}}" method="post">
        <button type="submit" style="background: none; border: none; cursor: pointer;">
            <span th:if="${bookmark}">♥</span>
            <span th:unless="${bookmark}">♡</span>
        </button>
    </form>
</div>


<a href="/jobs">Back to Job Listings</a>

</body>
</html>
